html {
  background-color: black;
  color: white;
}

.Navbar,
.Footer {
    margin: 0 auto;

}

.Navbar {
  text-align: center;
}

.Footer {
  border-top: 1px solid white;
  text-align: end;
}

.Header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  background-image: url("./assets/IndexBanner.jpg");
  background-size: cover;
  background-position: center top;
  height: 400px;

}

.Header h1 {
  margin: 0;
}

.Bg-Brandy {
  background-image: url("./assets/BrandyBanner.jpg");
}

.Bg-Gin {
  background-image: url("./assets/GinBanner.jpg");
}

.Bg-Rum {
  background-image: url("./assets/RumBanner.jpg");
}

.Bg-Tequila {
  background-image: url("./assets/TequilaBanner.jpg");
}

.Bg-Vodka {
  background-image: url("./assets/VodkaBanner.jpg");
}

.Bg-Whiskey {
  background-image: url("./assets/WhiskeyBanner.jpg");
}

/* WhiskeyPage.css */

.details {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: black;
}


.drink-image {
  width: 200px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid white;
}

.drink-title {
  font-size: 24px;
  margin: 10px 0;
}

.drink-info {
  font-size: 18px;
  margin: 5px 0;
}

.drink-instructions {
  font-size: 16px;
  margin: 10px 0;
}

.return-link {
  display: block;
  margin: 20px 0;
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

.Finding {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

/* img {
  width: 50%;
}

.drinkCards{
  display: grid;
  justify-content: center;
  
}

.gridContainer {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
} */

