html {
  background-color: black;
  color: white;
}

.Navbar,
.Footer {
    margin: 0 auto;

}

.Navbar {
  flex-grow: 1;
  text-align: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 15rem;
}

.search-bar input{
  line-height: 1.7rem;
  font-size: 1rem;
  margin-right: 1rem;
}

.Footer {
  border-top: 1px solid white;
  text-align: end;
  margin-right: 2rem;
  margin-left: 2rem;
}

.Header {
  margin: 0 auto;
  /* display: flex; */
  justify-content: center;
  border: 1px solid white;
  background-image: url("./assets/IndexBanner.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;

}

.Header h1 {
  background-color: rgba(0,0,0,0.4);
}

.Bg-Brandy {
  background-image: url("./assets/BrandyBanner.jpg");
}

.Bg-Gin {
  background-image: url("./assets/GinBanner.jpg");
}

.Bg-Rum {
  background-image: url("./assets/RumBanner.jpg");
}

.Bg-Tequila {
  background-image: url("./assets/TequilaBanner.jpg");
}

.Bg-Vodka {
  background-image: url("./assets/VodkaBanner.jpg");
}

.Bg-Whiskey {
  background-image: url("./assets/WhiskeyBanner.jpg");
}

/* WhiskeyPage.css */

.details {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: black;
}


.drink-image {
  width: 200px;
  height: auto;
  border-radius: 10px;
  border: 1px solid white;
}

.drink-title {
  font-size: 24px;
  margin: 10px 0;
}

.drink-info {
  font-size: 18px;
  margin: 5px 0;
}

.drink-instructions {
  font-size: 16px;
  margin: 10px 0;
}

.return-link {
  display: block;
  margin: 20px 0;
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

.Finding {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}








